.button.back {
	margin-bottom: 12px;
}
.right {
	float: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}
div.read-more {
	margin-top: 6px;
}
body.node-type-project h1 {
	font: 38px/38px Rokkitt,"Times New Roman";
}
.node-project {
	overflow: hidden;
}
.view-project-news .post {
	background-color: transparent;
	box-shadow: 0 0 0 0;
	width: auto;
}
.view-project-news .post .main {
	padding: 18px 0;
}
#block-views-project-news-block {
	width: 664px;
	padding: 18px;
	margin-top: 16px;
	background-color: #FBFBFB;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
/*....forms....*/
.webform-component-fieldset {
	padding-bottom: 20px;
	font-size: 14px;
}
.webform-client-form legend {
	font: normal 28px/28px Rokkitt, "Times New Roman";
	color: #3B3B3B;
	padding-bottom: 10px;
}
input[type="email"] {
	margin-right: 5px;
	padding: 0 10px;
	width: 190px;
	height: 28px;
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
#crm-profile-block {
	margin-bottom: 30px;
}
.node-webform #edit-submit {
	font-weight: bold;
	border-color: #089BC3;
	border-width: 2px;
}
input#edit-submitted-project-investment-civicrm-1-case-1-cg3-custom-20-1,
input#edit-submitted-project-investment-civicrm-1-case-1-cg3-custom-20-7,
input#edit-submitted-project-investment-civicrm-1-case-1-cg3-custom-20-12 {
	display: none;
	visibility: hidden;
}
label[for="edit-submitted-project-investment-civicrm-1-case-1-cg3-custom-20-1"],
label[for="edit-submitted-project-investment-civicrm-1-case-1-cg3-custom-20-7"],
label[for="edit-submitted-project-investment-civicrm-1-case-1-cg3-custom-20-12"] {
	font-weight: bold;
}
label[for="edit-submitted-project-investment-civicrm-1-case-1-cg3-custom-20-7"],
label[for="edit-submitted-project-investment-civicrm-1-case-1-cg3-custom-20-12"] {
	padding-top: 10px;
	display: block;
}
.post .content input[type="text"].error, 
.post .content input[type="password"].error, 
.post .content textarea.error {
	border: 1px solid red;
}
/* the next 4 styles are to override the civicrm form styles for the profile on user register page*/
.page-user-register #crm-profile-block legend {
	display: none;
	visibility: hidden;
}
#crm-profile-block .crm-section .label {
	float: none;
	width: auto;
	text-align: left;
}
.post #crm-profile-block .content {
	margin-top: 0;
}
#crm-profile-block .crm-section .content {
	margin-left: 0;
}
.yaselect-current:after {
    background-image: none !important;
}
/*....links & buttons....*/
.button {
	border: 1px solid #CACACA;
	border-radius: 4px;
	background-color: #F0F0F0;
	background: -webkit-linear-gradient(top, white 0%, #E9E9E9 100%);
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #E9E9E9 100%) repeat scroll 0 0 transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e9e9')";
	outline: none;
	font: normal 18px/22px Rokkitt, "Times New Roman";
	color: #000;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
	margin: 0;
	padding: 0 10px;
	display: inline-block;
	vertical-align: baseline;
	-webkit-box-align: center;
	text-align: center;
}
.button:hover {
	border: 1px solid #089BC3;
}
.button span {
	width: 16px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: 0 center;
	display: inline-block;
	margin-right: 8px;
	vertical-align: top;
}
.large {
	height: 40px;
	padding: 0 14px; 
	font-size: 25px; 
	line-height: 38px;
}

/*....lists....*/
.post .content ul, 
.post .content ol {
	padding-left: 24px;
	margin: 8px 0;
}
.post .content ul li, 
.post .content ol li {
	margin: 4px 0;
}
.post .meta {
	padding: 8px 0 0 0;
}
.post .meta a {
    color: #089BC3 !important;
}
.post .meta a {
	display: inline !important;
}
.post .meta a:hover {
    color: #089BC3 !important;
	border-bottom: 1px dotted #089BC3;
}
/*....search....*/
#block-search-form {
	padding: 14px 0 0 130px;
}
.widget-search input[type="submit"] {
	background-position: 0 center;
}

/*....add this widget....*/
.field-name-field-add-this {
	clear: both;
	margin-top: 6px;
}
.node-type-page .field-name-field-add-this {
	display: none;
	visibility: hidden;
}
.page-node-64 .field-name-field-add-this {
	display: block;
	visibility: visible;
}
.field-name-field-addthis {
	margin-top: 10px;
}
.field-name-field-addthis a:hover {
	border-bottom: 0 none;
}
.index li a.active {
	color: #089BC3;
	border-bottom: 1px dotted #089BC3;
}
li a.active, li a.active-trail {
	color: #089BC3; !important;
}
header a:hover, .field-name-field-add-this a:hover {
	border-bottom: 0 none;
}

/*....maintenance mode....*/
body.maintenance-page {
	background-color: #fff;
	padding: 30px;
}
body.maintenance-page #name-and-slogan {
	display: none;
	visibility: hidden;
}
body.maintenance-page #main {
	padding: 20px 10px;
}

/*....blocks and fields....*/
.block {
	clear: both;
}
.block h1 {
	font: normal 28px/28px Rokkitt, "Times New Roman";
}
.widget-twitter li, 
.widget-twitter .button {
	margin-top: 10px;
}
.field-name-field-intro {
	font-style: italic;
}
.field-name-field-video {
	margin-top: 18px;
}
#block-text-resize-0 {
	float: left;
}
.block-google-plusone {
	float: left;
	clear: none;
	margin: 10px 0 0 0;
}
.field-type-link-field,
.field-type-file {
	font-weight: bold;
	margin: 12px 0;
}
#project-links .field-type-link-field {
	margin: 0;
}
.field-type-file .file-icon {
	display: none;
	visibility: hidden;
}
.field-type-link-field a,
.field-type-file a {
	border-bottom: 1px dotted #089BC3;
}
.form-item .description {
	font-style: italic;
}
.node-trustee .field-name-body, 
.view-trustees .field-name-body {
	clear: left;
	padding-top: 10px;
}
.view-header,
.white,
#aside .widget.white {
	background-color: #FBFBFB;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 18px;
	padding: 18px 25px;
	font-size: 15px;
	border: 0 none;
}
.white p {
	margin: 10px 0;
}
.view-trustees .field-name-field-quote {
	font: italic 16px/18px Georgia, serif;
}
#project-links {
	width: 220px;
	position: absolute;
	right: 0;
	word-wrap: break-word;
}
#project-links .field-label {
	font: normal 28px/28px Rokkitt, "Times New Roman";
	color: #3B3B3B;
}
#project-links .link-item  {
	margin-bottom: 8px;
}
/*....sign up button....*/
#block-block-21 {
	float: left;
	clear: none;
	margin: 10px 0 0 10px;
	padding-left: 10px;
	border-left: 1px dotted #8A8A8A;
}
.field-name-field-tweet-text {
	display: none;
	visibility: hidden;
}
.social-icons,
.login, 
.logout  {
	float: left;
	clear: none;
	margin: 10px 0 0 10px;
	padding-left: 10px;
	border-left: 1px dotted #8A8A8A;
}
.node-trustee .field-name-field-quote {
	font-style: italic;
	padding-bottom: 20px;
	background: url(/sites/all/themes/bestmobile/img/icons/quote.png) no-repeat right bottom;
}
.region-sidebar-fourcolumns .icon {
	width: 32px;
	height: 32px;
}
#banners h2 {
	font-size: 28px;
	font-family: Rokkitt, "Times New Roman";
	line-height: 32px;
	color: #3B3B3B;
	font-weight: normal;
}
#banners article {
	width: 300px;
	padding: 30px 30px 0 30px;
}
.widget-social {
	overflow: hidden;
}
.widget-social li {
	display: inline-block;
	margin: 0 4px 0 0;
	float: left;
}
.widget-social li a {
	width: 24px;
	height: 24px;
	padding: 0;
}

#user-login-form label {
	width: 90px;
}

/*.....footer....*/
#footer {
	font-size: 11px;
	line-height: 1.5;
	padding-top: 0;
	border-top: 0 none;
}
#footer ul, #footer li {
	list-style: none outside none;
	margin: 0 0 12px 0;
	padding: 0;
}
#footer li {
	float: left;
	display: inline;
	margin-right: 6px;
}
.view-latest .view-footer {
	margin-top: 12px;
}

/*....faqs.....*/
.faq-question a {
	border-bottom: 1px dotted #089BC3;
}

.item-list .pager li.pager-last, 
.item-list .pager li.pager-next {
	margin-left: 10px;
}

/*....images....*/
#content .field-name-field-image img, 
#content .field-name-field-iimage img {
	width: auto !important;
}
.front .post img, 
.node-trustee img, 
.node-news img, 
.view-latest-news img, 
.node-report img, 
.view-reports img, 
.view-trustees img {
	float: left;
	padding: 0 10px 10px 0;
}

/*....twitter block....*/

/*....tabs....*/
ul.primary {
	margin: 5px 5px 0 5px;
	border-bottom: 0 none;
}
ul.primary li a {
	padding: 6px 12px;
	display: inline-block;
}
/*....error messages....*/
div.messages {
	border: 1px solid; 
}
div.messages ul {
	list-style: none;
	margin: 0;
}
div.status, table tr.ok,
div.error, table tr.error {
	background-color: #fff;
}
div.status, .ok {
	color: #28972a;
}
div.status {
	border-color: #28972a;
}
div.error, .error {
	color: #dc330b;
}
div.error {
	border-color: #dc330b;
}
